* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

button {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 24px;
}

.container-corpo {
  width: 320px;
  height: 420px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #9d7bee;
  padding: 50px;
  color: white;
  text-align: center;
  border-radius: 20px;
}

.container-corpo h2 {
  display: flex;
  justify-content: center;
  margin-top: -30px;
  padding-bottom: 10px;
}

.container-corpo input {
  border: none;
  border-radius: 5px;
  width: 230px;
  height: 40px;
  margin-bottom: 10px;
  color: black;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 24px;
  padding-left: 10px;
}

.container-numerico-central {
  display: flex;
  flex-direction: column;
}

.container-numerico {
  width: 250px;
  height: 300px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.container-equacao {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.container-equacao button {
  background-color: #dfdddc;
  width: 50px;
  height: 40px;
  text-align: center;
  border: none;
  border-radius: 6px;
}

.container-numerico1 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.container-numerico1 button {
  background-color: #dfdddc;
  width: 50px;
  height: 40px;
  text-align: center;
  border: none;
  border-radius: 6px;
}

.container-numerico1 button:hover {
  color: #000633;
  border: 2px solid #000633;
  box-shadow: 10px, #000633;
}

.container-numerico2 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.container-numerico2 button {
  background-color: #dfdddc;
  width: 50px;
  height: 40px;
  text-align: center;
  border: none;
  border-radius: 6px;
}

.container-numerico2 button:hover {
  color: #000633;
  border: 2px solid #000633;
  box-shadow: 10px, #000633;
}

.container-numerico3 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.container-numerico3 button {
  background-color: #dfdddc;
  width: 50px;
  height: 40px;
  text-align: center;
  border: none;
  border-radius: 6px;
}

.container-numerico3 button:hover {
  color: #000633;
  border: 2px solid #000633;
  box-shadow: 10px, #000633;
}

.container-numerico4 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.container-numerico4 button {
  background-color: #dfdddc;
  width: 50px;
  height: 40px;
  text-align: center;
  border: none;
  border-radius: 6px;
}

.container-numerico4 button:hover {
  color: #000633;
  border: 2px solid #000633;
  box-shadow: 10px, #000633;
}

#num0 {
  width: 110px;
}

.container-numerico-lateral {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 10px;
  height: 240px;
}

.container-numerico-lateral button:hover {
  color: #000633;
  border: 2px solid #000633;
  box-shadow: 10px, #000633;
}

.container-button-divisao {
  background-color: #dfdddc;
  width: 50px;
  height: 40px;
  border: none;
  border-radius: 6px;
}

.contaneir-numerico-laretal button {
  width: 50px;
  height: 40px;
  text-align: center;
  border: none;
  border-radius: 6px;
}

#multiplicacao {
  background-color: #dfdddc;
  width: 50px;
  height: 40px;
  border: none;
  border-radius: 6px;
}

#multiplicacao:hover {
  color: #000633;
  border: 2px solid #000633;
  box-shadow: 10px, #000633;
}

.container-resultado {
  background-color: #dfdddc;
  width: 50px;
  height: 160px;
  border: none;
  border-radius: 6px;
  margin-bottom: -100px;
}

.container-equacao button:hover {
  color: #000633;
  border: 2px solid #000633;
  box-shadow: 10px, #000633;
}

#apagar:hover {
  color: red;
  border: 2px solid #000633;
}
