@media (max-width: 2220px) {
  main p {
    font-size: 2rem;
  }

  .section-apresentacao span {
    font-size: 3.5rem;
  }

  .container-img {
    width: 38rem;
  }

  .container-projeto {
    flex-wrap: wrap;
  }

  .card-projeto {
    height: auto;
    width: auto;
  }
}
@media (max-width: 1900px) {
  main p {
    font-size: 1.8rem;
  }

  .section-apresentacao span {
    font-size: 2.5rem;
  }

  main .container-subtitulo {
    font-size: 1.7rem;
  }

  .container-img {
    width: 35rem;
  }

  .container-projeto {
    flex-wrap: wrap;
  }

  .card-projeto {
    height: auto;
    width: auto;
  }
}

@media (max-width: 1600px) {
  main p {
    font-size: 1.4rem;
  }

  .section-apresentacao span {
    font-size: 2rem;
  }

  main .container-subtitulo {
    font-size: 1.4rem;
  }

  .container-img {
    width: 30rem;
  }
}

@media (max-width: 1300px) {
  header a {
    font-size: 0.9rem;
  }

  .section-apresentacao p {
    font-size: 1.3rem;
  }

  .container-img {
    width: 20rem;
  }

  /* .container-download-cv {
    font-size: 0.5rem;
    height: 2rem;
    width: auto;
  } */
  .section-sobre-mim span {
    font-size: 1.5rem;
  }

  .section-sobre-mim p {
    font-size: 1rem;
  }

  .container-icones {
    flex-wrap: wrap;
  }
}

@media (max-width: 1100px) {
  .apresentacao {
    margin-top: 2.5rem;
    flex-direction: column-reverse;
    gap: 5rem;
  }

  main p {
    font-size: 1.8rem;
  }

  .section-apresentacao span {
    font-size: 2.5rem;
  }

  .container-img {
    width: 22rem;
  }

  main .container-subtitulo {
    font-size: 1.6rem;
  }
}

@media (max-width: 1000px) {
  header a {
    font-size: 0.7rem;
  }

  .apresentacao {
    margin-top: 2.5rem;
    flex-direction: column-reverse;
  }

  /* .container-download-cv {
    font-size: 0.3rem;
    height: 1rem;
    width: auto;
  } */

  .container-footer {
    flex-wrap: wrap;
    gap: 2.5rem;
  }

  .dados {
    font-size: 0.6rem;
  }
}

@media (max-width: 700px) {
  header ul {
    gap: 1.5rem;
  }

  header a {
    font-size: 0.6rem;
  }

  .apresentacao {
    margin-top: 2.5rem;
    flex-direction: column-reverse;
    gap: 2rem;
  }

  .section-apresentacao p {
    font-size: 1.5rem;
  }

  .container-img {
    width: 22rem;
  }

  .container-download-cv {
    font-size: 0.5rem;
    height: 2rem;
    width: auto;
  }

  .container-footer {
    gap: 1.5rem;
  }

  .card-footer i {
    font-size: 1.5rem;
  }

  .card-footer {
    font-size: 0.8rem;
  }

  .dados {
    font-size: 0.4rem;
  }
}

@media (max-width: 600px) {
  header a {
    font-size: 0.4rem;
  }

  .apresentacao {
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
    gap: 2rem;
  }

  .section-apresentacao p {
    font-size: 1.2rem;
  }

  .container-subtitulo {
    font-size: 0.9rem;
  }

  .section-apresentacao span {
    font-size: 1.5rem;
  }

  .container-img {
    width: 12rem;
  }

  .container-download-cv {
    font-size: 0.4rem;
    height: 1.8rem;
    width: auto;
  }

  .section-sobre-mim {
    padding: 1.5rem;
  }

  .section-sobre-mim p {
    font-size: 0.9rem;
  }
}
